{extend name="public/main" /}

{block name="title"}{$purviewTreeArr[$currentPurviewId]['purview_name']}{/block}

{block name="body"}
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a><cite>导航元素</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加管理权限','{:url('admin/Purview/add')}',800,600)">
                        <i class="layui-icon"></i>添加
                    </button>
                </div>
                <div class="layui-card-body ">
                    {:purview_tree_third($list)}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(["tree"], function(){
        var tree = layui.tree



    });
</script>
{/block}